* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(15, 75, 135, 1);
}

main {
  min-height: 80%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img {
  height: 45px;
  width: 230px;
  padding: 10px 0px;
}

h1 {
  color: #ffffff;
}

.login a {
  color: #ffffff;
  text-decoration: none;
  font-size: larger;
}

#clock {
  color: #ffffff;
  padding: 0px 25px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
}

body {
  background-color: rgb(35, 85, 125);
}

.logo {
  margin: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 220px;
  width: 230px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 15px auto;
}

.input-group label {
  color: #ffffff;
  text-align: left;
  text-shadow: 2px 2px 1px #121212;
  font-size: large;
  font-weight: 500;
  margin-bottom: 5px;
}

#Name,
#Rollno,
#Erpid {
  color: #121212;
  font-weight: bolder;
  font-size: 17px;
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 10px 10px 5px #121212;
  border: none;
}

#Name:focus,
#Rollno:focus,
#Erpid:focus {
  border: 2px solid orange;
  outline: none;
}

.button {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: #121212;
  background-color: #79cc9c;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border-radius: 5px;
  width: 125px;
  height: 35px;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px inset transparent;
  box-shadow: 10px 10px 5px #121212;
  text-shadow: 0px 1px 0px #bde6cf;
}

button:hover {
  cursor: pointer;
}

button:focus {
  border: 2.5px solid orange;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox (and others) */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
