* {
  padding: 0;
  margin: 0;
}

/* header */

header {
  background-color: rgba(15, 75, 135, 1);
  width: 100%;
  height: 10vh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 230px;
  height: 45px;
  padding: 10px 0px;
}

h1 {
  color: white;
}

.login a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

#clock {
  letter-spacing: 5px;
  color: white;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 25px;
}

/* header end */

/* main */

body {
  background-color: #121212;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 70%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.box {
  margin: 10px;
  height: 35vh;
  width: 200px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px #ffffff;
}

.box p {
  cursor: default;
  padding: 0px 15px;
}

.box img {
  padding: 10px 25px;
  height: 150px;
  width: 150px;
}

/* footer */

.comment {
  min-height: 20%;
  width: 90%;
  margin: 20px auto;
}

textarea {
  background-color: #1e1e1e;
  color: #ffffff;
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
}

button {
  margin-top: 7.5px;
  background-color: #ffcc66;
  color: #121212;
  width: 160px;
  height: 40px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 12px;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #e6b85c;
  transform: scale(1.05);
}
