* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(15, 75, 135, 1);
  height: 10vh;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img {
  height: 45px;
  width: 230px;
  padding: 10px 0px;
}

.nav h1 {
  color: #ffffff;
}

#clock {
  color: #ffffff;
  padding: 0px 25px;
  font-size: x-large;
  letter-spacing: 5px;
}

main {
  background-color: #f4f6f8;
  padding: 25px;
  min-height: 70vh;
}

h2 {
  text-align: center;
  color: green;
  font-size: 30px;
}

#studentlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  margin-top: 20px;
}

.box {
  height: 20vh;
  width: 200px;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  background-color: #212121;
  align-content: center;
  text-align: center;
}

.z {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 5px;
  border: none;
  width: 250px;
  height: 30px;
  padding: 5px 15px;
  margin: 10px 5px;
  cursor: pointer;
  background-color: rgb(200, 50, 50);
  color: #ffffff;
  font-size: 14px;
}

#A {
  background-color: rgb(25, 105, 185);
}

button:hover {
  padding: 5px 30px;
  border: 2px solid #313131;
}
